# Other files and folders
PythonWork/*
MVNModel/Data/*
RandomEffectsModel/Data/*
BinNAlgorithm/binData/*
BinNAlgorithm/MD_Data/*
BinNPGibbsSampler/BinData/*
BinNPGibbsSampler/DataStore/*
BinNPGibbsSampler/Rlogfiles/*
BinNPGibbsSampler/testing_belief_plaus/*
BinNPGibbsSampler/SLURMOUT/*
